/* 
 $white-grey: #f4f4f4;
$orange: #ff7315;
$dark-grey: #3a3535;
$black: #232020;  */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Footer */
#footer {
    position: relative;
    padding: 45px 60px;
    background-color: #232020;
    color:#f4f4f4;
    margin-top: 80px;
}
.twitter-icon {
    margin-left: 25px;
}
.hr {
    background-color:#f4f4f4;
}
#footer .links .col {
    flex: 50%;
    margin-bottom: 30px;
}
#footer .links .col {
    display: flex;
    flex-direction: column;
}
.link, .c-link {
    color:#f4f4f4;
    display: flex;
    font-size: 15px;
}
.link:hover, .c-link:hover {
    text-decoration: underline;
    color:#f4f4f4;
}
h5 {
    text-transform: uppercase;
    font-size: 18px;
}
.card-btn-1 {
    color: #ff7315;
    border: 1px solid #ff7315;
}
.card-btn-1:hover {
    background-color: #ff7315;
    border: 1px solid #ff7315;
    color: #f4f4f4;
}
li {
    list-style: none;
}
.in-stock {
    background-color: #ff7315;
}
.out-of-stock {
    background-color: #3a3535;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.product-header {
    color: #232020;
}
.btn, .jumbotron, .nav :hover {
    border-radius: 0px;
}
/* cart badge */

.btn-color {
    background-color: #ff7315;
    border: 1px solid #ff7315;
}
.btn-color:hover {
    background-color: #f56506;
    border: 1px solid #f56506;
}
.btn-dashboard {
    border: 1px solid #ff7315;
    color: #ff7315;
}
.btn-dashboard:hover {
    background-color: #ff7315;
    border: 1px solid #ff7315;
}
.back-link {
    color: #3a3535;
}
.back-link:hover {
    color: #3a3535;
    text-decoration: underline;
}
.cart-badge, .cart-badge:hover {
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
    font-style: italic;
    background-color: black;
}
/* single product page - product name */

.name {
background: indigo;
color: #fff;
font-weight: bold;
}

/**
 * product image on card
 */
.card-body {
    width: 250px;
}

.p-info {
    color: #3a3535;
}

.jumbotron h2 {
    margin-top: -20px;
}

.navbar-brand {
    margin: .5rem 1rem;
}
.nav-item {
margin-top: 1.1rem;
}
.nav-item:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .jumbotron h2 {
        margin-top: 10px;
    }
}

.jumbotron {
    width: 30wh;
    height: 30vh;
    color: #fff;
    background: linear-gradient(
        rgba(31, 39, 34, 0.5), 
        rgba(31, 39, 34, 0.5)), url("./img/forest.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
.product-header {
    font-size: 18px;
}
.nav, .nav-items {
    background-color: white; 
}
 

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.cart-icon {
    margin-left: auto;    
}

 .cart-icon:hover {
    text-decoration: none;
} 